@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1 : #100f2a;
  --color2 : #062d6b;
  --color3 : #0C2958;
  --color4 : #18206e;
  --color5 : #d7e3fc;
  --color6 : #bcdeff;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
